{:itonami.blueprint/id "cloud-itonami-isic-9491"
 :itonami.blueprint/name "Activities of religious organizations"
 :itonami.blueprint/isic-rev5 "9491"
 :itonami.blueprint/domain :services/religious-orgs
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:community-access :data-sovereignty :transparency]
 :itonami.blueprint/governor :congregational-governance-governor
 :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger]
 :itonami.blueprint/optional-technologies []
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/robotics true
 :itonami.blueprint/maturity :implemented}
