{:kotoba.app/id "cloud.itonami.isic-9491", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidmvdztbxdcheqcns57ljgsyimuuv7xdvdfjvqvecaarhbjqnrqc4", :kotoba.app/embed-url "ipfs://bafkreidmvdztbxdcheqcns57ljgsyimuuv7xdvdfjvqvecaarhbjqnrqc4", :published {:archive "https://kotobase.net/ipfs/bafkreidmvdztbxdcheqcns57ljgsyimuuv7xdvdfjvqvecaarhbjqnrqc4", :size 75080, :put-status 201, :get-status 200, :at "2026-08-15T13:46:24.549Z"}}
